@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

.title {
  margin-top: 2rem;
  line-height: 1.15;
  font-family: 'Montserrat';
  font-size: 3.5rem;
  text-align: center;
}
